<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sudoku Solver Server</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
   <body>
      <h1>Welcome to the sudoku solver server</h1>
      <h2>This web page will solve your sudoku for you !</h2>
      <h4>Steps:</h4>
      <h4>1. Upload a text file that has an unsolved sudoku in it here.</h4>
      <form id = "sudoku" action = "/results" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" accept=".txt"/>
         <input type = "submit" value="Upload"/>
      </form>
      <h4>2. Wait.</h4>
      <h4>3. Enjoy your solved sudoku.</h4>
   <form id = "database" action="http://10.0.2.15:1000/">
         <button type="submit">Search in database</button>
      </form>


   </body>
</html>